<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Login</h1>

<form method="POST" action="/login">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" placeholder="Enter 'You' or 'Alex'" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" placeholder="Enter your password" required>
    <br>
    <button type="submit">Login</button>
    <br>
    <p>Don't have an account? <a href="/signup">Sign up here</a>.</p>
    
</form>

</body>

